/* ========================== 
About Page
*/
#about {
  background-color: var(--primary-bg);
}
.about-hero-container {
  max-width: 70rem;
  padding: 0 1rem;
  padding-top: 8rem;
  margin: auto;
}
.about-hero_image {
  position: relative;
  height: 45vh;
  width: 100%;
  margin-bottom: 5rem;
  border-radius: var(--border-r);
  overflow: hidden;
  box-shadow: var(--box-shadow-sm);
  display: block; /* remove extra space below image */
}
.about-hero_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-content-container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: auto;
}
/* ever other mini section */
.about__content__wrap:nth-child(odd) {
  background-color: var(--secondary-bg);
  border-radius: var(--border-r);
  box-shadow: var(--box-shadow-inset);
}
.about__content__wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 2.8rem 1rem;
}
.about__content__wrap.ctn {
  /* spacer */
  border-bottom: 1px solid var(--border-nav);
}
.item__heading {
  flex: 1;
}
.item__heading h1 {
  font-size: var(--font-size-lg);
  color: var(--text-h);
}
.item__heading h3 {
  font-size: var(--font-size-lg);
  color: var(--text-h);
}
.item__info {
  flex: 1;
}
.item__info p {
  font-size: var(--font-size-md);
  color: var(--text-p);
}
.item__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.item__links:hover {
  stroke: var(--text-h);
}
.item__links p:hover {
  color: var(--text-h);
}
/* =================================
[About Page] Responsive Media
*/
@media (max-width: 958px) {
  .about-hero_image {
    height: 40vh;
    margin-bottom: 3rem;
  }
  .about-hero_image img {
    object-position: left;
  }
  .about-content-container {
    padding: 0 0;
  }
  .about__content__wrap {
    flex-direction: column;
  }
  .about__content__wrap:nth-child(odd) {
    border-radius: 0;
  }
  .item__info {
    padding-top: 1.6rem;
  }
  .about__content__wrap.ctn {
    /* spacer */
    border-bottom: 10px solid var(--secondary-bg);
  }
}
