:root {
  /* Portfolio Palette */
  --primary: rgba(254, 172, 94, 1);
  --primary-light: rgba(254, 172, 94, 0.5);
  --primary-supa-light: rgba(254, 172, 94, 0.2);
  --secondary: rgba(75, 192, 200, 1);
  --secondary-light: rgba(75, 192, 200, 0.5);
  --secondary-supa-light: rgba(75, 192, 200, 0.2);
  --complimentary: rgba(199, 121, 208, 1);
  --complimentary-light: rgba(199, 121, 208, 0.5);
  --complimentary-supa-light: rgba(199, 121, 208, 0.2);
  --primary-bg: #fffffe;
  --secondary-bg: #f0f1f4;
  --white: #fffffe;
  --black: #0d0d0d;
  --primary-gradient: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  /* Work Status */
  --looking: rgba(28, 215, 96, 1);
  --looking-shadow: drop-shadow(0px 1px 4px rgba(28, 215, 96, 0.7));
  --open: rgba(255, 199, 44, 1);
  --open-shadow: drop-shadow(0px 1px 4px rgba(255, 199, 44, 0.7));
  /* Typography */
  --text-h: #203647;
  --text-sh: rgba(32, 54, 71, 0.9);
  --text-p: rgba(32, 54, 71, 0.8);
  --btn-bg: linear-gradient(
    135deg,
    var(--primary) 10%,
    var(--primary-light) 100%
  );
  --btn-border: var(--primary-light);
  --card-bg: var(--primary-bg);
  --border-nav: #ccd4da;
  --border: #14213d;
  --border-r: 0.5rem;
  --box-shadow: #aec2e6;
  /* Sizing */
  --font-size-xxsm: 0.675rem;
  --font-size-xsm: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.0825rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --text-lineHeight-sm: 1.25;
  --text-lineHeight-md: 1.4;
  /* Styles */
  /* --box-shadow-inset: inset -2px 2px 2px 1px rgba(0, 0, 0, 0.05); */
  --box-shadow-inset: inset -2px 2px 4px 1px rgba(51, 51, 51, 0.075);
  --transition: 0.2s ease-in-out;
  --box-shadow-sm: 0px 1px 5px -1px var(--box-shadow-dark),
    0px 2px 9px -6px var(--box-shadow-dark);
  --box-shadow-md: 0px 0px 2px -1px rgba(0, 0, 0, 1),
    0px 4px 12px -5px rgba(0, 0, 0, 1);
  --box-shadow-lg: 0px 0px 2px -1px rgba(0, 0, 0, 1),
    0px 6px 14px -5px rgba(0, 0, 0, 1);
  /* Images */
  --aboutHeroImage: url('../assets/desert-day.svg');
}

/* Dark mode */
.darkmode {
  /* Portfolio Palette */
  --primary-bg: #12232e;
  --secondary-bg: #172d3b;
  /* Typography */
  --text-h: rgba(254, 254, 254, 1);
  --text-p: rgba(254, 254, 254, 0.8);
  --text-sh: rgba(254, 254, 254, 0.8);
  --box-shadow: #445c88;
  /* Borders */
  --border: var(--text-sh);
  --border-nav: var(--secondary-bg);
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: var(--text-p);
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-weight: 500;
  color: var(--text-h);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  color: var(--text-p);
  line-height: var(--text-lineHeight-md);
}
a {
  color: var(--text-p);
  text-decoration: none;

  /* outline: 1px solid red; */
}

/* Buttons */
button {
  color: #12232e;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.01em;
  background: none;
  border: none;
  cursor: pointer;
}
button svg {
  stroke: var(--text-p);
  transition: var(--transition);
}
button svg:hover {
  stroke: var(--text-h);
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--text-p);
  transition: var(--transition);
}
.icon:hover {
  stroke: var(--text-h);
}
.btn {
  width: fit-content;
  padding: 0.6rem 1rem;
  background-color: var(--primary);
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.9;
}
.btn-icon {
  width: var(--font-size-md);
  stroke: #12232e;
  margin-left: 0.6rem;
}
/* hero button */
.btn.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icon.hero {
  margin-left: 0.8rem;
}
.btn.hero:hover .btn-icon.hero {
  animation: bounce 0.4s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(8px);
  }
}

/* Text underline */
.text-underline {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.text-underline.lg::after {
  background: var(--secondary);
  bottom: 12%;
  content: '';
  height: 0.6rem;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
.text-underline.sm::after {
  background: var(--primary);
  bottom: 5%;
  content: '';
  height: 0.15rem;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media (max-width: 958px) {
  .text-underline.lg::after {
    height: 6px;
  }
}

/* Faders */
.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
