<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Technology has always been my passion. I love the idea of building real, living, breathing web applications. Currently based in San Diego, California">
		<meta name="google-site-verification" content="l1YFmi85GHaxNGTT9qWgfcuY8LyBZcGmu-90Arpk44w"/>
		<title>Joseph Skycrest | Footer</title>
		<link rel="shortcut icon" href="images/js-logo-favicon.svg" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet"> 
		<!-- CSS -->
		<link rel="stylesheet" href="style.css">
		<!-- JS -->
		<script src="js/main.js" defer></script>
	</head>
	<body>

		<!-- Footer Section -->
		<section id="footer" class="footer-section">
			<div class="footer-container">
				<div class="footer__col legal">
					<p>©2020 Joseph Skycrest</p>
				</div>
				<div class="footer__col social">
					<a href="https://github.com/ryan-neil">Github</a>
					<a href="https://www.linkedin.com/in/ryan-neil-413743b7/">Linkedin</a>
					<a href="https://twitter.com/josephskycrest">Twitter</a>
				</div>
			</div>
		</section>

	</body>
</html>