:root {
	/* Portfolio Palette */
	--color-primary-bg: #16161a;
	--color-secondary-bg: #242629;
	--color-primary: #7f5af0;
	--color-primary-light: #dac9fd;
	--color-secondary: #2cb67d;
	--color-white: #fffffe;
	--color-black: #0d0d0d;
	--color-primary-gradient: linear-gradient(
		135deg,
		var(--color-primary) 10%,
		var(--color-secondary) 100%
	);
	/* Typography */
	--color-text-heading: var(--color-white);
	--color-text-subheading: #94a1b2;
	--color-text-p: #94a1b2;
	--font-size-xsm: 0.750rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.0625rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 3rem;
	/* Styles */
	--transition: 0.2s ease-in-out;
	--color-btn-bg: var(--color-primary);
	--color-btn-text: var(--color-white);
	--color-btn-border: #9577ec;
	--color-card-bg: var(--color-primary-bg);
	--color-border: var(--color-white);
	--color-border-btn: var(--color-primary-light);
	--color-border-nav: #4e4e4e;
	--box-shadow-sm: 0px 2px 4px 0px rgba(14, 30, 37, 0.12);
	--box-shadow-md: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	--box-shadow-lg: -10px 10px 80px 0px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}
h1,
h2,
h3 {
	font-weight: 500;
}
a {
	text-decoration: none;
}
.text-underline {
	display: inline-block;
	position: relative;
	z-index: 10;
}
.text-underline::after {
	background: var(--color-secondary);
	bottom: 12%;
	content: '';
	height: .6rem;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
.btn {
	font-weight: 500;
	font-size: var(--font-size-base);
	color: var(--color-white);
	width: auto;
	height: auto;
	padding: .8rem 1rem;
	background: var(--color-btn-bg);
	border: 1px solid var(--color-btn-border);
	border-radius: 5px;
	cursor: pointer;
	box-shadow: var(--box-shadow-sm);
	transition: var(--transition);
}
.btn:hover {
	opacity: .9;
}
.btn-icon {
	width: var(--font-size-md);
	fill: var(--color-white);
	margin-left: .6rem;
}
.btn-tag {
	display: inline;
	font-size: var(--font-size-xsm);
	font-weight: 500;
	color: var(--color-primary);
	text-transform: uppercase;
	background-color: var(--color-primary-light);
	width: auto;
	height: auto;
	padding: .25rem .75rem;
	border: none;
	border-radius: 0.3rem;
}

/* 
==========================
Navbar Section
==========================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: none;
}
.navbar-container {
	max-width: 70rem;
	margin: auto;
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__logo {
	font-weight: 500;
	font-size: var(--font-size-lg);
	letter-spacing: -1px;
	transition: var(--transition);
}
.nav__logo a {
	color: var(--color-text-heading);
}
.btn.nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav__logo:hover {
	opacity: .9;
}
/* Start styles after scrolling */
.scrolling-active .navbar {
	background: var(--color-primary-bg);
	border-bottom: 1px solid var(--color-border-nav);
	transition: var(--transition);
}
.scrolling-active .navbar {
	background-color: var(--color-primary-bg);
}
.scrolling-active .navbar a.logo {
	/* color: var(--color-text-primary); */
}
.scrolling-active .navbar a {
	/* color: var(--color-text-primary); */
}
/* End styles after scrolling */

/* 
==========================
Hero Section
==========================
*/
.hero-section {
	background-color: var(--color-primary-bg);
	position: relative;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}
.hero-col {
	max-width: 70rem;
	margin: auto;
	padding: 0 1rem;
}
.hero-section h1 {
	font-weight: 500;
	font-size: var(--font-size-xxl);
	color: var(--color-text-heading);
	letter-spacing: .025rem;
	line-height: 1.25;
	margin-bottom: 2rem;
}
.hero-section h3 {
	width: 75%;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-text-heading);
	line-height: 1.6;
}
.btn.hero {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-icon.hero {
	fill: var(--color-btn-text);
	margin-left: .8rem;
}
.btn.hero:hover .btn-icon.hero {
	animation: bounce 0.4s infinite alternate;
}
@keyframes bounce {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(8px);
	}
}

/* 
=================================
[Hero] Web Responsive Media
=================================
*/
/** For mobile devices **/
@media (max-width: 42.611em) {
	.hero-section {
		height: 90vh;
	}
	.hero-col {
		width: 100%;
	}
	.hero-section h1 {
		font-size: var(--font-size-xl);
	}
	.text-underline::after {
		height: 6px;
	}
	.hero-section h3 {
		font-size: var(--font-size-md);
		width: 100%;
	}
	.hero-btn-content {
		font-size: var(--font-size-base);
	}
}

/* 
==========================
Projects Section
==========================
*/
.projects-section {
	background-color: var(--color-secondary-bg);
}
.projects-container {
	max-width: 70rem;
	margin: auto;
	padding: 8rem 1rem;
}
/* Projects heading styles */
.projects__heading {
	padding-bottom: 1rem;
}
.projects__heading h1 {
	font-size: var(--font-size-xxl);
	font-weight: 500;
	color: var(--color-text-heading);
	letter-spacing: .025rem;
	line-height: 1.25;
}
/* Projects card styles */
.projects__card {
	width: 100%;
	height: auto;
	margin-top: 3rem;
	padding: 1rem 1rem 0 0;
	border: 1px solid var(--color-border-card);
	border-radius: .6rem;
	display: flex;
	box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, .05);
}
/* Odd projects__card styles */
.projects__card:nth-of-type(2n + 1) {
	padding: 1rem 0 0 1rem;
}
.projects__card.project-1 {
	background-color: var(--color-primary-bg);
}
.projects__card.project-2 {
	background-color: var(--color-primary-bg);
}
.projects__card.project-3 {
	background-color: var(--color-primary-bg);
}
.project__content {
	width: 50%;
	height: auto;
}
/* Text column styles */
.project__content.text {
	padding: 3rem;
}
.project__content h1 {
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-text-heading);
	padding: 1rem 0;
}
.project__content p {
	font-size: var(--font-size-md);
	color: var(--color-text-p);
	padding-bottom: 1rem;
}
.project__content h3 {
	font-size: var(--font-size-md);
	font-weight: 500;
	color: var(--color-text-heading);
	padding-bottom: .2rem;
}
.content__tech {
	display: flex;
	flex-wrap: wrap;
}
.content__tech p {
	font-size: var(--font-size-sm);
	padding-right: 1rem;
}
.content__icons a {
	display: inline-block;
}
.projects__icon {
	width: 1.4rem;
	fill: var(--color-text-subheading);
	margin-right: 1rem;
}
.projects__icon:hover {
	fill: var(--color-primary);
	transition: var(--transition);
}
/* Image column styles */
.project__content.img.odd {
	border-top-left-radius: 10px;
	background-color: var(--color-secondary-bg);
	height: auto;
	position: relative;
	overflow: hidden;
}
.project__content.img.even {
	border-top-right-radius: 10px;
	background-color: var(--color-secondary-bg);
	height: auto;
	position: relative;
	overflow: hidden;
}
.project__img.odd {
	width: 31rem;
	position: absolute;
	top: 1.6rem;
	right: 0;
	bottom: 0;
}
.project__img.even {
	width: 31rem;
	position: absolute;
	top: 1.6rem;
	left: 0;
	bottom: 0;
}

/* 
=================================
[Projects] Responsive Media
=================================
*/
@media (max-width: 48.889em) {
	.projects__heading h1 {
		font-size: var(--font-size-xl);
	}
	.text-underline::after {
		height: 6px;
	}
	.projects__card {
		flex-direction: column;
	}
	.projects__card:nth-of-type(2n) {
		flex-direction: column-reverse;
	}
	.project__content {
		width: 100%;
	}
	.project__content.text {
		padding: 1.2rem 1rem;
	}
	.project__content.img.even {
		height: auto;
		padding: 1rem 1rem 0 0;
	}
	.project__content.img.odd {
		height: auto;
		padding: 1rem 0 0 1rem;
	}
	.project__img.odd {
		width: 100%;
		height: 100%;
		position: static;
	}
	.project__img.even {
		width: 100%;
		height: 100%;
		position: static;
	}
}

/* 
==========================
Contact Section
==========================
*/
.contact-section {
	padding: 8rem 1rem;
	background-color: var(--color-primary-bg);
}
.contact-container h1 {
	font-size: var(--font-size-xxl);
	font-weight: 500;
	text-align: center;
	letter-spacing: .025rem;
	line-height: 1.25;
	margin: auto;
	padding-bottom: 2rem;
	color: var(--color-text-heading);

	/* Text Gradient */
	/* Create the gradient. */
	background-image: var(--color-primary-gradient);
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contact-container p {
	font-size: var(--font-size-lg);
	text-align: center;
	line-height: 1.25;
	color: var(--color-text-heading);
	width: 40%;
	margin: auto;
}
.contact-container a {
	color: var(--color-text-heading);
	text-decoration: underline;
	text-decoration-color: var(--color-text-heading);
	transition: var(--transition);
}
.text-underline.contact::after {
	bottom: 15%;
	height: .3rem;
}
.text-underline.contact:hover::after {
	bottom: 15%;
	height: .9rem;
	transition: var(--transition);
}
/* 
=================================
[Contact] Responsive Media
=================================
*/
@media (min-width: 42.667em) and (max-width: 62em) {
	.contact-section {
		padding: 4rem 1rem;
	}
	.contact-container h1 {
		width: 80%;
	}
	.contact-container p {
		width: 75%;
	}
}
@media (max-width: 42.611em) {
	.contact-section {
		padding: 4rem 1rem;
	}
	.contact-container h1 {
		font-size: var(--font-size-xl);
		width: 100%;
	}
	.contact-container p {
		font-size: var(--font-size-lg);
		width: 100%;
	}
}

/* 
==========================
Footer Section
==========================
*/
.footer-section {
	background-color: var(--color-secondary-bg);
}
.footer-container {
	max-width: 70rem;
	margin: auto;
	padding: 6rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__col {
	font-size: var(--font-size-base);
	font-weight: 500;
	color: var(--color-text-p);
}
.footer__col a {
	color: var(--color-text-p);
	padding-left: 1.4rem;
	transition: var(--transition);
}
.footer__col a:hover {
	color: var(--color-text-heading);
}
/* 
=================================
[Footer] Responsive Media
=================================
*/
@media (max-width: 42.611em) {
	.footer-container {
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}
	.footer__col.legal {
		font-size: var(--font-size-sm);
	}
	.footer__col.social {
		margin-bottom: 2rem;
	}
	.footer__col a {
		margin: 0 1rem;
		padding-left: 0;
	}
}

/*
========================== 
About Page
==========================
*/
#about {
	padding: 1rem;
	background-color: var(--color-secondary-bg);
}
.about-hero-container {
	max-width: 70rem;
	margin: auto;
}
.about-hero_image {
	height: 50vh;
	width: 100%;
	margin-top: 10rem;
	margin-bottom: 5rem;
	border-radius: .5rem;
	position: relative;
	display: block;
	overflow: hidden;
	background-image: var(--color-primary-gradient);
	/* background-image:
		url('https://source.unsplash.com/random'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.about-content-container {
	max-width: 70rem;
	margin: auto;
	padding: 2rem 0;
}
.about__content__wrap {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
}
.item__heading {
	flex: 1;
}
.item__heading h2 {
	font-size: var(--font-size-lg);
	color: var(--color-text-heading);
}
.item__info {
	flex: 1;
}
.item__info p {
	font-size: 1rem;
	color: var(--color-text-p);
}
.about-hr {
	opacity: 0.0875;
	border: 0;
	margin: 2.8rem 0;
	padding: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-border);
}
.item__links {
	width: auto;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}
.p-link {
	color: var(--color-primary) !important;
}
.item__links:hover {
	opacity: 0.8;
}
.item__links-icon {
	width: var(--font-size-md);
	fill: var(--color-primary);
	margin-right: 0.75rem;
}

/* 
=================================
[About Page] Responsive Media
=================================
/*
/** For mobile devices **/
@media (max-width: 767px) {
	.about-hero_image {
		height: 40vh;
		margin-top: 8rem;
		margin-bottom: 3rem;
	}
	.about__content__wrap {
		flex-direction: column;
	}
	.item__info {
		padding-top: 1.6rem;
	}
	.item__heading h2 {
		font-size: var(--font-size-base);
	}
	.item__info p {
		font-size: var(--font-size-sm);
	}
}
