<!-- contact section -->
<section id="contact" class="contact-section">
  <div class="contact-container fade-in">
    <h2>I'm currently available for <br> job opportunities</h2>
    <p>Have an exciting project where you need some help? Job openings? Send me a message, and
      <a href="mailto:ryanjosephneil@gmail.com">
        <span class="text-underline sm contact">let's chat!</span>
      </a>
    </p>
  </div>
</section>

<!-- footer -->
<footer id="footer" class="footer-section">
  <div class="footer-container">
    <!-- copyright -->
    <div class="footer__col legal">
      <p>©2021 Joseph Skycrest</p>
    </div>
    <!-- social links -->
    <div class="footer__col social">
      <a href="https://github.com/ryan-neil" target="blank">Github</a>
      <a href="https://www.linkedin.com/in/ryanjneil/" target="blank">Linkedin</a>
      <a href="https://twitter.com/josephskycrest" target="blank">Twitter</a>
    </div>
  </div>
</footer>