<!-- boilerplate html for app pages -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Technology has always been my passion. I love the idea of building real, living, breathing web applications. Currently based in San Diego, California">
  <meta name="google-site-verification" content="l1YFmi85GHaxNGTT9qWgfcuY8LyBZcGmu-90Arpk44w" />
  <title>JS | Software Engineer</title>
  <link rel="shortcut icon" href="../public/images/js-logo-favicon.svg" type="image/x-icon">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="css/modules/utils.css">
  <link rel="stylesheet" href="css/modules/nav.css">
  <link rel="stylesheet" href="css/modules/footer.css">
  <link rel="stylesheet" href="css/modules/about.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <!-- import app content -->
  <%- body %>

  <!-- js -->
  <script type="module" src="js/app.js"></script>
</body>

</html>