:root {
	/* Portfolio Palette */
	--color-primary: #fe5261;
	--color-secondary: rgb(45, 156, 253);
	--color-primary-light: rgba(254, 82, 97, 0.5);
	--color-primary-supa-light: rgba(254, 82, 97, 0.2);
	--color-secondary-light: rgba(45, 156, 253, 0.5);
	--color-secondary-supa-light: rgba(45, 156, 253, 0.2);
	--color-primary-bg: #fffffe;
	--color-secondary-bg: #f0f1f4;
	--color-white: #fffffe;
	--color-black: #0d0d0d;
	--color-primary-gradient: linear-gradient(
		135deg,
		var(--color-secondary) 10%,
		var(--color-secondary-light) 100%
	);
	--color-accent-gradient: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
	/* Typography */
	--color-text-heading: #203647;
	--color-text-subheading: rgba(32, 54, 71, 0.9);
	--color-text-p: rgba(32, 54, 71, 0.8);
	--color-btn-text: var(--color-text-heading);
	--color-btn-bg: linear-gradient(
		135deg,
		var(--color-primary) 10%,
		var(--color-primary-light) 100%
	);
	--color-btn-border: var(--color-primary-light);
	--color-card-bg: var(--color-primary-bg);
	--color-border-nav: #ccd4da;
	--color-border: #14213d;
	--color-box-shadow: #aec2e6;
	/* Sizing */
	--font-size-xsm: 0.750rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.0825rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 3rem;
	--text-lineHeight-sm: 1.25;
	--text-lineHeight-md: 1.4;
	/* Styles */
	--transition: 0.2s ease-in-out;
	--box-shadow-sm: 0px 1px 5px -1px var(--color-box-shadow-dark),
		0px 2px 9px -6px var(--color-box-shadow-dark);
	--box-shadow-md: 0px 0px 2px -1px rgba(0, 0, 0, 1), 0px 4px 12px -5px rgba(0, 0, 0, 1);
	--box-shadow-lg: 0px 0px 2px -1px rgba(0, 0, 0, 1), 0px 6px 14px -5px rgba(0, 0, 0, 1);
	/* Images */
	--aboutHeroImage: url('../images/desert-day.svg');
}

/* Dark mode */
.darkmode {
	/* Portfolio Palette */
	--color-primary: #fe5261;
	--color-secondary: rgb(45, 156, 253);
	--color-primary-light: #ff6b77;
	--color-primary-supa-light: rgba(254, 82, 97, 0.2);
	--color-secondary-light: rgba(45, 156, 253, 0.5);
	--color-secondary-supa-light: rgba(45, 156, 253, 0.2);
	--color-primary-bg: #12232e;
	--color-secondary-bg: #203647;
	/* Typography */
	--color-text-heading: #f3f3f3;
	--color-text-subheading: #bfbfbf;
	--color-text-p: rgba(191, 191, 191, 0.8);
	--color-box-shadow: #445c88;
	--color-btn-text: var(--color-white);
	/* Borders */
	--color-border: var(--color-text-subheading);
	--color-border-nav: var(--color-secondary-bg);
	/* Images */
	--projectImageGoSurf: url('../images/gosurf-screenshot-forecast_dark.png');
	--projectImageCodeSnap: url('../images/codesnap-screenshot_dark.png');
	--projectImageSFPA: url('../images/mac-browser-sfpa.png');
	--projectImageCGPA: url('../images/mac-browser-cgpa.png');
	--aboutHeroImage: url('../images/desert-night.svg');
}
/* Dark mode toggle */
.dark-mode-toggle {
	fill: var(--color-text-heading);
	background: transparent;
	cursor: pointer;
	width: 1.8rem;
	height: 1.8rem;
	padding: 4px;
	border: none;
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}
h1,
h2,
h3 {
	font-weight: 500;
}
p {
	line-height: var(--text-lineHeight-md);
}
a {
	text-decoration: none;
}

/* Buttons */
.btn {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: var(--font-size-base);
	color: var(--color-white);
	padding: 0.6rem 1rem;
	/* background-image: var(--color-accent-gradient); */
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary-light);
	border-radius: 5px;
	cursor: pointer;
	box-shadow: var(--box-shadow-sm);
	transition: var(--transition);
}
.btn:hover {
	opacity: .9;
}
.btn-icon {
	width: var(--font-size-md);
	fill: var(--color-white);
	margin-left: 0.6rem;
}
/* hero button */
.btn.hero {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-icon.hero {
	margin-left: .8rem;
}
.btn.hero:hover .btn-icon.hero {
	animation: bounce 0.4s infinite alternate;
}
@keyframes bounce {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(8px);
	}
}

/* Tags */
.btn-tag {
	display: inline;
	font-size: var(--font-size-xsm);
	font-weight: 500;
	text-transform: uppercase;
	color: var(--color-secondary);
	background-color: var(--color-secondary-supa-light);
	width: auto;
	height: auto;
	padding: .25rem .75rem;
	border: none;
	border-radius: 0.3rem;
}

/* Text underline */
.text-underline {
	display: inline-block;
	position: relative;
	z-index: 10;
}
.text-underline.lg::after {
	background: var(--color-secondary);
	bottom: 12%;
	content: '';
	height: .6rem;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
.text-underline.sm::after {
	background: var(--color-primary);
	bottom: 5%;
	content: '';
	height: .15rem;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
@media (max-width: 42.611em) {
	.text-underline.lg::after {
		height: 6px;
	}
}

/* Faders */
.fade-in {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
.fade-in.appear {
	opacity: 1;
}
